*{
  paDding :0;
  margin: 0;

}
.head{

  margin-top: 35px;
  background-color: white;
  text-align: center;
  height: 120px;
  border-bottom: 3px solid black;
  
}
h1,h2{
  text-align: center;
}

.cont{
  display: block;
  padding: 10px 10px 10px 10px;
  padding-left: 1000px;
  padding-right: 350px;
  max-width: 3500px;

}

.flex {
  display: flex;
  gap: 50px;
}

.date1{
  text-align: end;
  margin-right: 370px;
}


input{
  width: 300px;
 border-style: none;
 border-bottom: 1px solid black;
}
td,th{
  height: 50px;
  padding: 10px;
}

main{
  border-bottom: 3px solid black;
}
.lst{
  display: flex;
  justify-content: space-between;
}

footer {
  display: flex;
  justify-content: space-between;
}
.foot-left{
  margin-left: 1000px;
  margin-top: 15px;
}
.foot-right{
  text-align: center;
  margin-right: 780px;
  margin-top: 50px;
}



